body{
	margin: 0;
	padding: 0;

}

.container{
	position: relative;
	width: 1200px;
	height: 300px;
	margin: 240px auto;
}

.container .box{
	position: relative;
	width: calc(400px - 30px);
	height: calc(300px - 30px);
	background: black;
	float: left;
	margin: 15px;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 10px;
}

.container .box .icon{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: white;
	transition: 0.5s
	z-index 1;
}

.container .box:hover .icon
{
	top: 20px;
	left: calc(50% - 40px);
	width: 80px;
	height: 80px;
	border-radius: 50%;

}

.container .box .icon .fa{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 80px;
	transition: 0.5s;
	color: black;
}

.container .box:hover .icon .fa{
	font-size: 40px;
}

.container .box .content{
	position: absolute;
	top: 100%;
	height: calc(100% -100px);
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
	transition: 0.5s;
	opacity: 0;
}

.container .box:hover .content{
	top: 100%;
	opacity: 1;
}

.container .box .content h3{
	margin: 0 0 10px;
	padding: 0;
	float: center;
	font-size: 24px;
}

.container .box .content p{
	margin: 0;
	padding: 0;
	font-size: 16px;
}

.container .box:nth-child(1) .icon{
	background: #66FF66;
}

.container .box:nth-child(2) .icon{
	background: #00FF00;
}
.container .box:nth-child(3) .icon{
	background: #00FF80;
}


*{
	margin: 0;
	padding: 0;
}

.load{
	animation: slide 2s;
}

.slider{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;
	animation: slide 10s infinite;
}

.content{
	color: white;
	width: 100%;
	height: 100vh;
	background-color: rgba(0 ,0 ,0 , 0.5)
}

.principal {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	letter-spacing: 5px; 
	text-align: center;
}

.principal h1{
	font-size: 70px;
	margin-bottom: 20px; 
}

.principal p{
	font-size: 30px;
}

@keyframes slide{
	0%{
		background-image: url(../images/heart.jpg);
	}
	20%{
		background-image: url(../images/heart.jpg);
	}
	20.01%{
		background-image: url(../images/love.jpg);
	}
	40%{
		background-image: url(../images/love.jpg);
	}
	40.01%{
		background-image: url(../images/Siblings.jpg);
	}
	60%{
		background-image: url(../images/Siblings.jpg);
	}
	60.01%{
		background-image: url(../images/friends.jpg);
	}
	80%{
		background-image: url(../images/friends.jpg);
	}
	80.01%{
		background-image: url(../images/Why.jpg);
	}
	100%{
		background-image: url(../images/Why.jpg);
	}
}

footer{
	margin: 0;
	padding: 0;
	background: black;

}

footer ul{
	position: absolute;
	left: 50%;
	transform: translate(-50%, 50%);
	margin: 0;
	padding: 0;
	display: flex;
}

footer ul li{
	list-style: none;
}

footer ul li a{
	position: relative;
	width: 60px;
	height: 60px;
	background: white;
	display: block;
	text-align: center;
	margin: 0 10px;
	border-radius: 50%;
	padding: 6px;
	box-sizing: border-box;
	text-decoration: none;
	box-shadow: 0 10 15px rgba(0,0,0,0.3);
	background: linear-gradient(0deg,#ddd, #fff);
	transition: .5s;
}

ul li a:hover{
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

ul li a .fa{
	width: 100%;
	align-items: center;
	height: 100%;
	display: block;
	background: linear-gradient(0deg, #fff, #ddd);
	border-radius: 50%;
	line-height: calc(60px-6px);
	font-size: 24px;
	color: #262626;
	transition-timing-function: .5s;
}

ul li:nth-child(1) a:hover .fa{
	color: #3b5998;
}

ul li:nth-child(2) a:hover .fa{
	color: #dd4b39;
}
